@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;800&family=Playfair+Display&display=swap');


:root{
    --main-white:#FFFFFF;
    --main-light-grey:#E6E6E6;
    --main-honey-yellow:#FF9900;
    --main-text-color:#141414;
    --main-text-highlight:#6d6d6d;
    
    --ff-main: 'Montserrat', sans-serif;
    --ff-special-tittles: 'Playfair Display', serif;

    --fs-xl: clamp(2.5rem, 6vw + 1rem, 12rem);
    --fs-xs: clamp(2rem, 4vw + 1rem, 10rem);
    --fs-tittles:2rem;
    --fs-sub-tittles:1.5rem;
    --fs-text:1rem;
    
}
*{
    box-sizing: border-box;
    color: var(--main-text-color);
    font-family: var(--ff-main);
    list-style: none;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
    
}
*::before, *::after {
    box-sizing: border-box;
}
button:focus {
    outline: 0;
}
input:focus {
    outline: 0;
}
textarea:focus {
    outline: 0;
}
::-webkit-scrollbar {
    width: 0.7em;
}
  
/* ::-webkit-scrollbar-track {

} */
  
::-webkit-scrollbar-thumb {
    background: var(--main-honey-yellow);
    border: 1px solid transparent;
    border-radius: 100vw;
}
 
::-webkit-scrollbar-thumb:hover {
    background: #cc7a00;
}


html {
    height: 100%;
    width: 100%;
}
body, h1, h2, h3, p, blockquote {
	margin:0;
	padding:0;
}
body {
    font-size: var(--fs-text);
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    width: 100%;
}

/**********************************HEADER********************************/
header{
    width: 100%;
}
/************************************************************************/
.whatsapp__float{
	background-color:#25d366;
	border-radius:30px;
	bottom: 1rem;
	box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.4);
    font-size:20px;
	height:56px;
	position:fixed;
	right: 1rem;
	text-align:center;
	width:56px;
    z-index:100;
}
.whatsapp__float i{
    color:var(--main-white);
    margin-left: 2px;
    margin-top: 8px;
}

/**********************************NAV***********************************/
nav{
    align-items: center;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    justify-content: space-evenly;
    left: 50%;
    min-height: 8vh;
    position: fixed;
    top: 1rem;
    transform: translateX(-50%);
    transition: 1s;
    width: 86%;
    z-index: 999;

}
.nav-links{
    align-items: center;
    display: flex;
    justify-content: space-around;
    width: 80%;
}
.nav-links a{
    color:var(--main-text-color);
    font-weight: 800;
    letter-spacing: 3px;
    text-decoration: none;
}
.nav-links a:hover{
    color: var(--main-honey-yellow);
}
.nav-links a i{
    color: var(--main-honey-yellow);
}
.logo__wrapper{
    align-items: center;
    column-gap: 15px;
    display: flex;
}
.logo__image{
    display: block;
    height: 12vh;
    padding: 1vh 0;
}
.company__name{
    display: none;
}
.burger{
    cursor: pointer;
    display: none;
}
.burger div{
    background-color:var(--main-text-color);
    height: 3px;
    margin:5px;
    transition: all 0.3s ease;
    width: 25px;
}
.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
}

/************************************************************************/


/********************************ABOUT***********************************/
.about__wrapper{
    /* background:
    linear-gradient(135deg, var(--main-honey-yellow) 21px, rgba(225, 71, 5, 0.3) 22px, rgba(225, 71, 5, 0.3) 24px, transparent 24px, transparent 67px, rgba(225, 71, 5, 0.3) 67px, rgba(225, 71, 5, 0.3) 69px, transparent 69px),
    linear-gradient(225deg, var(--main-honey-yellow) 21px, rgba(225, 71, 5, 0.3) 22px, rgba(225, 71, 5, 0.3) 24px, transparent 24px, transparent 67px, rgba(225, 71, 5, 0.3) 67px, rgba(225, 71, 5, 0.3) 69px, transparent 69px)0 64px;
    background-color:var(--main-honey-yellow);
    background-size: 64px 128px; */
    background: var(--main-light-grey);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows:repeat(4, auto);
    margin-top: calc(12vh + 1rem + 1rem);
    padding: 3rem 6rem;
    width: 100%;
}
.about__logo__image{
    display: block;
    grid-column-end: 4;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-row-start: 1;
    height: auto;
    margin: 0 auto;
    width: 200px;
}
.about__tittle{
    color:var(--main-honey-yellow);
    font-family: var(--ff-special-tittles);
    font-size: var(--fs-xs);
    font-weight: 800;
    grid-column-end: 4;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-row-start: 2;
    padding: 2rem 0;
    text-align: center;
}
.about__slogan{
    font-size: var(--fs-xs);
    font-weight: 800;
    grid-column-end: 4;
    grid-column-start: 1;
    grid-row-end: 4;
    grid-row-start: 3;
    text-align: center;
    width: 100%;
}
.about__left__container{
    grid-column-end: 4;
    grid-column-start: 1;
    grid-row-end: 5;
    grid-row-start: 4;
    margin-bottom: 3rem;
    padding: 1rem 0;
}
.about__left__text{
    font-size: var(--fs-tittles);
    font-weight: 400;
    text-align: center;
}
.about__right__container{
    align-content: center;
    column-gap: 25px;
    display: grid;
    grid-column-end: 4;
    grid-column-start: 1;
    grid-row-end: 6;
    grid-row-start: 5;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows:auto;
    justify-content: center;
}
.about__right__sub-container {
    max-width: 700px;
    min-width: 295px;
}
.horizontal-line{
    display:inline-block;
    height: 3px;
    transition:1s;
    vertical-align: middle;
    width: 0px;
}
.horizontal-line-text{
    display:inline-block;
    margin-left:-4px;
    vertical-align: middle;
}
.about__right__sub-container__tittle{
    transition:1s;
}
.about__right__sub-container__tittle:hover{
    color:var(--main-honey-yellow);
}
.about__right__sub-container:hover > .horizontal-line{
    background-color: var(--main-honey-yellow);
    margin-right: 10px;
    transition:1s;
    width: 35px;
}
/************************************************************************/


/********************************SERVICES********************************/
.services__wrapper{
    margin:6rem 0;
    padding: 0 6rem;    
}
.page__tittles{
    font-size: var(--fs-xs);
    padding: 25px 0;
    text-align: center;
}
.page__tittle__one{
    margin-bottom: 3rem;
    padding: 0 0; 
    text-decoration: underline;
    text-decoration-color: var(--main-honey-yellow);
}
.page__tittle__two{
    margin-bottom: 3rem;
    padding: 0 0;
    text-decoration: underline;
    text-decoration-color: var(--main-honey-yellow);
}
.page__tittle__three{
    color: var(--main-white);
    padding: 3rem 0;
    text-decoration: underline;
    text-decoration-color: var(--main-honey-yellow);
}
.services__subcontainer{
    align-items: flex-start;
    display:flex;
    flex-direction: row;
    margin-bottom: 9rem;
    width: 100%;
}
.services__subcontainer:nth-child(7){
    margin-bottom: 0px;
}
.services__subcontainer:hover .services__info__tittle h2{
    color: var(--main-honey-yellow);
    transition: 0.3s linear;
}
.services__img__container{
    max-height: 90vh;
    overflow: hidden;
    position: relative;
}
.services__img__container::before{
	background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	content: '';
	display: block;
	height: 100%;
	left: -75%;
    position: absolute;
	top: 0;
	transform: skewX(-25deg);
	width: 50%;
	z-index: 2;
}
.services__subcontainer:hover .services__img__container::before {
	-webkit-animation: shine .75s;
	animation: shine .75s;
}
.vertical__img{
    width: 45%;
}
.horizontal__img{
    width: 55%;
}
.services__img{
    display: block;
    height: 100%;
    object-fit: contain;
    transition: 0.3s linear;
    width: 100%;
}
.vertical__text{
    width: 55%;
}
.horizontal__text{
    width: 45%;
}
.services__info__tittle{
    font-size: var(--fs-sub-tittles);
    margin-bottom: 2rem;
}
.services__info__text{
    line-height: 1.6rem;
}
.vertical__container .services__info{
    padding-left: 50px;
    text-align: right;
}
.horizontal__container .services__info{
    padding-right: 50px;
    text-align: left;
}
.right__arrow{
    margin-right: 0.5rem;
}
.services__subcontainer:hover .right__arrow{
    color: var(--main-honey-yellow);
    transition: 0.3s linear;
}

/************************************************************************/


/*******************************SLIDER***********************************/

.slider {
    height: 100vh;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.slide {
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity 0.4s ease-in-out;
    width: 100%;
}
.slide.current {
    opacity: 1;
}
  
/***ESTO NO ELIMINARLO ES EL FONDO DEL TEXTO SOBRE EL SLIDE****/

/* .slide .content {
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.3);
    bottom: 0;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    left: 0;
    opacity: 0;
    padding: 20px;
    position: absolute;
} */
  
/* .slide .content h1 {
    font-size: var(--fs-xs);
} */
  
/* .slide.current .content {
    opacity: 1;
    transition: all 0.7s ease-in-out 0.3s;
} */
  
.buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    left: 50%;
    margin-top: -55vh;
    position: absolute;
    transform: translateX(-50%);
    width: 96%;
}
.buttons button {
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.2);
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    outline: none;
    padding: 23px 25px;
}
  
.buttons button:hover {
    background-color: var(--main-white);
}
  
/* Backgorund Images */
   
.slide:first-child {
    background: url("../img/edificios/edificio1.webp") no-repeat center top/cover;
}
.slide:nth-child(2) {
    background: url("../img/edificios/edificio2.webp") no-repeat center top/cover;
}
.slide:nth-child(3) {
    background: url("../img/edificios/edificio3.webp") no-repeat center top/cover;
}
.slide:nth-child(4) {
    background: url("../img/edificios/edificio4.webp") no-repeat center top/cover;
}
.slide:nth-child(5) {
    background: url("../img/edificios/edificio5.webp") no-repeat center top/cover;
} 
.slide:nth-child(6)  {
    background: url("../img/edificios/edificio6.webp") no-repeat center top/cover;
}

/************************************************************************/


/*******************************WE-ARE***********************************/
.weare__wrapper{
    margin: 9rem 0;
    padding: 0 6rem;
}
.weare__subcontainer{
    align-items: flex-start;
    display:flex;
    flex-direction: row;
    width: 100%;
}
.weare__subcontainer:hover .weare__info__tittle h2{
    color: var(--main-honey-yellow);
    transition: 0.3s linear;
}
.weare__img__container{
    max-height: 90vh;
    overflow: hidden;
}
.vertical__img__weare{
    width: 40%;
}
.weare__img{
    display: block;
    height: 100%;
    object-fit: contain;
    transition: 0.3s linear;
    width: 100%;
}
.vertical__text__weare{
    width: 60%;
}
.weare__info__tittle{
    font-size: var(--fs-sub-tittles);
    margin-bottom: 2rem;
}
.weare__info__text{
    line-height: 1.6rem;
}
.vertical__container__weare .weare__info{
    padding-right: 3rem;
    text-align: left;
}
.right__arrow{
    margin-right: 0.5rem;
}
.weare__subcontainer:hover .right__arrow{
    color: var(--main-honey-yellow);
    font-weight: 800;
    transition: 0.3s linear;
}

/************************************************************************/


/*******************************CONTACT***********************************/
footer{
    background:var(--main-text-color);
    
}
.footer__wrapper{
    display: flex;
    flex-direction: row;
}
.contact__form__wrapper{
    width: 50%;
}
.contact__form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 25px auto 50px auto;
    row-gap: 1.5rem;
    width: 400px;
}
.contact__input{
    background: transparent;
    border: none;
    border-bottom: 1px solid var(--main-white);
    color:var(--main-honey-yellow);
    height: 3rem;
    outline:none;
    padding-left: 1rem;
    width: 100%;
}
.contact__input::placeholder,
.contact__text__area::placeholder{
    color: var(--main-light-grey);
    font-style: italic;
}
.contact__text__area{
    background: transparent;
    border:none;
    border: 1px solid var(--main-honey-yellow);
    color: var(--main-honey-yellow);
    height:200px;
    outline:none;
    padding-left: 1rem;
    padding-top: 1rem;
    width: 100%;
}

.contact__send{
    background:var(--main-honey-yellow);
    border:2px solid var(--main-honey-yellow);
    color: var(--main-white);
    cursor: pointer;
    font-weight: 400;
    height: 3rem;
    letter-spacing: 2px;
    margin: 0 auto;
    width: 200px;
}
.contact__send:hover{
    background: transparent;
    border:2px solid var(--main-white);
    color: var(--main-honey-yellow);
    font-weight: 800;
}
.contact__info__wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}
.contact__info__text{
    font-size: var(--fs-sub-tittles);
    margin: 0 auto;
    width: fit-content;
}
.contact__info__text a{
    color: var(--main-light-grey);
}
.contact__info__text a i{
    color: var(--main-white);
    margin-top: 2rem;
    padding: 1rem;
}
.contact__info__text a i:hover, .contact__info__text a:hover{
    color: var(--main-honey-yellow);
}
.contact__info__social{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 3rem;
    text-align: center;
    width: 100%;
}
.contact__info__social a{
    color:var(--main-white);
}
.contact__info__social a i{
    color:var(--main-white);
    padding: 1.5rem;
}
.contact__info__social a:nth-child(1) i:hover, .contact__info__social a:hover:nth-child(1){
    color: #1877f2;
}
.contact__info__social a:nth-child(2) i:hover, .contact__info__social a:hover:nth-child(2){
    color: #d62976;
}
.copy__right-wrapper{
    align-items: center;
    display: flex;
    flex-direction: row;
    font-size: 0.8rem;
    justify-content: center;
    padding: 20px 10px 10px 10px;
    text-align: center;
}
.copy__right{
    color:var(--main-white);
    font-weight: 400;
}
.chiwiwiche__link{
    color: var(--main-honey-yellow);
    font-size: var(--fs-text);
    font-weight: 800;
    margin-left: 4px;
}
.chiwiwiche__link:hover{
    color: var(--main-white);
}
/************************************************************************/





/******************************KEY FRAMES*******************************/

@keyframes navLinkFade {
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
    
}

@-webkit-keyframes shine {
	100% {
		left: 125%;
	}
}
@keyframes shine {
	100% {
		left: 125%;
	}
}


/*****************************MEDIA QUERIES******************************/


@media only screen and (max-width: 1200px){
}


@media only screen and (max-width: 1024px) {
}


@media only screen and (max-width: 950px) {


/*********************************HEADER*********************************/

    
/************************************************************************/

/**********************************NAV********************************/
    nav{
        justify-content: space-between;
        margin: 0;
        padding: 0 6rem;
        top:0;
        width: 100%;
    }
    .nav-links{
        align-items: center;
        background-color: var(--main-light-grey);
        display: flex;
        flex-direction: column;
        height: 88vh;
        position: absolute;
        right: 0px;
        top:12vh;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        width: 100%;
    }
    .nav-links li{
        opacity: 0;
    }
    .burger{
        display: block;
        
    }
    .nav-active{
        transform: translateX(0%);
    }
    .down{
        transform: translateX(100%);
    }
    .company__name{
        color:var(--main-honey-yellow);
        display: inherit;
        font-family: var(--ff-special-tittles);
        font-size: var(--fs-sub-tittles);
    }
/*********************************************************************/

/**********************************ABOUT********************************/
    .about__wrapper{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows:repeat(5, auto);
        margin: 0;
        padding: calc(12.4vh + 3rem) 6rem 3rem 6rem;
        transform: translateX(0%);
    }
    .about__right__container{
        column-gap: 0px;
        display: grid;
        grid-column-end: 2;
        grid-column-start: 1;
        grid-row-end: 6;
        grid-row-start: 5;
        grid-template-columns: 1fr;
        grid-template-rows:repeat(3, auto);
        row-gap: 2rem;
    }
/***********************************************************************/

/******************************SERVICES*********************************/
    .services__subcontainer{
        align-items: center;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 6rem;
    }
    .services__info{
        margin-top: 2rem;
    }
    .vertical__img{
        width: 60%;
    }
    .services__info__tittle{
        margin-bottom: 1rem;
    }
    .horizontal__img{
        width: 100%;
    }
    .vertical__text{
        width: 100%;
    }
    .horizontal__text{
        order: 1;
        width: 100%;
    }
    .vertical__container .services__info{
        padding-left: 0px;
        text-align: left;
    }
    .horizontal__container .services__info{
        padding-right: 0px;
        text-align: left;
    }

/***********************************************************************/


/******************************WEARE*********************************/
    .weare__subcontainer{
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    .weare__info{
        margin-top: 2rem;
    }
    .weare__info__tittle{
        margin-bottom: 1rem;
    }
    .vertical__container__weare .weare__info{
        padding-right: 0;
    }
    .vertical__img__weare{
        width: 60%;
    }
    .vertical__text__weare{
        order: 2;
        width: 100%;
    }
    .vertical__container__weare .weare__info{
        padding-right: 0px;
        text-align: left;
    }
/********************************************************************/


/******************************FOOTER********************************/
    .footer__wrapper{
        display: flex;
        flex-direction: column;

    }
    .contact__form__wrapper{
        /* background: #e6e6e6; */
        width: 100%;
    }

    .contact__info__wrapper{
        width: 100%;
    }
/********************************************************************/

}


@media only screen and (max-width: 768px) {

    
/***********************************NAV**********************************/
    nav{
        padding: 0 3rem;
    }
/************************************************************************/

/*********************************ABOUT**********************************/
    .about__wrapper{
        padding: 3rem;
    }
    .about__right__sub-container {
        width: 100%;    
    }
/************************************************************************/

/********************************SERVICES********************************/
    .services__wrapper{
        padding: 0 3rem;    
    }
    .services__subcontainer{
        width: auto;
    }
    .vertical__img{
        width: 70%;
    }
/************************************************************************/


/********************************WEARE********************************/
    .weare__wrapper{
        padding: 0 3rem;
    }
    .weare__subcontainer{
        width: auto;
    }
    .vertical__img__weare{
        width: 70%;
    }
/************************************************************************/


/********************************FOOTER**********************************/
    .copy__right-wrapper{
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
/************************************************************************/

}


@media only screen and (max-width: 650px) {  
}

@media only screen and (max-width: 480px) {

/**********************************NAV***********************************/
    nav{
        padding: 0 1rem;
    }

    .nav-links{
        height: 92vh;
        top:8vh;
    }
    .logo__wrapper{
        column-gap: 10px;        
    }
    
    .logo__image{
        height: 8vh;
    }
    .company__name{
        font-size: 1.2rem;
    }
/************************************************************************/

/**********************************ABOUT*********************************/
    .about__wrapper{
        padding: calc(8.4vh + 3rem) 1rem 3rem 1rem;
    }
    .about__right__sub-container {
        min-width: 265px;
    }
/************************************************************************/

/********************************SERVICES********************************/
    .services__wrapper{
        padding: 0 1rem;  
    }
    .services__info__tittle{
        font-size: 1.4rem;
    }
/************************************************************************/

/*******************************SLIDER***********************************/
    .slide .content {
        width: 100%;
    }
    /* .slide .content h1 {
        text-align: center;
    }     */
/***********************************************************************/

/********************************WEARE********************************/
    .weare__wrapper{
        padding: 0 1rem;
    }
    .weare__info__tittle{
        font-size: 1.4rem;
    }
/************************************************************************/

/*********************************FOOTER*********************************/
    .contact__info__text{
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .contact__form{
        padding: 0 1rem;
        width: 100%;
    }
/************************************************************************/

}


@media only screen and (max-width: 320px) {
    
    .contact__info__text a:nth-child(2){
        font-size: 1.4rem;
    }
}










